SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
ANTHROPIC_API_KEY=
EMAIL_SENDER=
EMAIL_PASSWORD=
EMAIL_RECEIVER=
TWILIO_SID=
TWILIO_TOKEN=
TWILIO_WHATSAPP=whatsapp:+14155238886
WHATSAPP_NUMBER=
NTFY_CHANNEL=AMPLE-alerts-12345
YOLO_MODEL_PATH=yolov8n.pt
